*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: #edf2f6;
  --black: #494953;
  --lgt-red: #ff5656;
  --drk-red: #b42b3f;
  --gray-blue: #8ab2ff;
}

html {
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
}
