*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bevan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bevan";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bevan-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dynapuff-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dynapuff-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dynapuff-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dynapuff-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dynapuff-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dynapuff-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colors */
  --white: #edf2f6;
  --black: #494953;
  --lgt-red: #ff5656;
  --drk-red: #b42b3f;
  --gray-blue: #8ab2ff;
  --purple: #ffde4d;
}

html {
  font-size: 16px;
  font-family: "DynaPuff", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Global Image Setup */
img {
  min-width: 12rem;
  max-width: 100%;
}
