.game-menu {
  max-width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  /* background-color: var(--black); */
}

.game-menu .controls-button {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 0.77em;
}

.game-menu button[type="button"] {
  /* Clear Pre Setted CSS from the Element through BROWSER */
  all: unset;

  font-size: 1.55em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
  border-style: solid;
  border-radius: 1em;
  border-width: 3px;
  border-color: var(--white);
  text-align: center;
  padding: 1em 2em;
  margin-block: 2em;
  box-shadow: 1px 2px 8px var(--black);
}
